[data-slide] {
    position: relative
}

[data-slide]>* {
    position: absolute;
    top: 0;
    opacity: 0;
    pointer-events: none
}

[data-slide]>.active {
    position: relative;
    opacity: 1;
    transition: opacity .5s;
    z-index: 1;
    pointer-events: auto
}

[data-slide-nav] {
    width: 198px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-content: space-between;
}

[data-slide-nav] button {
    width: 25px;
    margin: 0 5px;
    border-radius: 26px;
    background: #fff;
    color: transparent;
    border: 1px solid #000;
    font-size: 0;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

[data-slide-nav] button.active {
    background: #0c0000;
    animation: nav-slide 4s infinite;
}

@keyframes nav-slide {
    0% {
        width: 0;
    }
    100% {
        width: 25px;
    }
}